parameters:
  level: 3
  paths:
    - %currentWorkingDirectory%/src
    - %currentWorkingDirectory%/tests
  symfony:
    container_xml_path: '%currentWorkingDirectory%/var/cache/dev/App_KernelDevDebugContainer.xml'
  autoload_directories:
    - %currentWorkingDirectory%/tests
  excludes_analyse:
    - %currentWorkingDirectory%/src/Migrations